
body{
    background-color: #cfd3bc;
}

.display{
   
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.items{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;

}